body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  width: 15%;
  min-height: 100vh;
  background-color: #243178;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-header{
  display: flex;
  align-items: center;
}

.logo-text{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.logo{
  width: 50px;
  display: inline-block;
}

.list{
  list-style-type: none;
  text-align: center;
  justify-content: left;
  margin-top: 30%;
}

.list-items{
  margin: 1rem;
  text-align: left;
  padding: 5%;
}

button:hover{
  cursor: pointer;
}

.home, .news, .exchanges{
  float:left;
  margin-left: 16%;
}

.stats{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li{
  flex: 1 0 50%;
}

.crypto-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.crypto-card {
  flex: 1 0 15%; 
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-shadow: 7.5px 7.5px 10px rgba(0, 0, 0, 0.3); 
  
  margin: 10px; 
  padding: 20px; 
  cursor: pointer;
}

.crypto-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}


.logo-img{
  width: 30px;
  height: 30px;
}
.news-cotainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  flex: 1 0 20%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 7.5px 7.5px 10px rgba(0, 0, 0, 0.3); 
  background-color: #78b7cf;
  margin: 10px; 
  padding: 20px; 
  cursor: pointer;
  min-height: 25vh;
  width: 23rem;
}

.news-card:last-child{
  justify-self:start;
}

.news-card p{
  overflow: hidden;
  text-overflow:  ellipsis;
}


table{
  width:115%;
  border-collapse: collapse;
  
}

thead th, tbody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  width: 25%; /* Adjust as needed */
}

tbody tr:nth-child(even) {
  background-color: #d9d8d7;
}

tbody tr:hover{
  background-color: #949391;
  cursor: pointer;
}